body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    /* line-height: 1em; */
}

a {
    display: inline-block;
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}

.profile-pic {
    width: 191px;
}

a:hover {
    color: white;
}

p {
    line-height: 2;
}

hr {
    border: dotted black 6px;
    border-bottom: none;
    width: 5%;
    margin: 80px auto;
}


h1 {
    margin: 50px auto 0 auto; 
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    padding: 50px 0;
}

.bottom-container {
    background-color: #66bfbf ;
    padding: 20px 0 20px;
}

.bottom-cloud {
    position: absolute;
    left: 390px;
}

.top-cloud {
    position: absolute;
    right: 390px;
    top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}


.intro {
    width: 30%;
    margin: 0 auto;
}

.comp-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.chilly-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

  .copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    color: white;
  }